<strong>Olá, {{deliveryMan}}</strong>
<p>A encomenda que estava atribuída a você foi cancelada, confira as informações abaixo: </p>
<p>
  <strong>Cliente: </strong> {{recipient}}<br>
  <strong>Endereco: </strong> {{recipientAddress}}<br>
  <strong>Produto: </strong> {{product}}<br>
  <br>
</p>
