<strong>Olá, {{deliveryMan}}</strong>
<p>Uma nova encomenda foi cadastrada para você, confira as informações abaixo: </p>
<p>
  <strong>Cliente: </strong> {{recipient}}<br>
  <strong>Endereco: </strong> {{recipientAddress}}<br>
  <strong>Produto: </strong> {{product}}<br>
  <br>
  <small>
    * Faça a retirada das 08:00 - 18:00
  </small>
</p>
